
   <body>
   <div class="contentImage">
       <img src="../../../image/homepage.png">

   <div class="fill" style="background-image:url('../../../image/photo.jpg');"></div>
       </div>

   <div class="container">
       <form class="searchForm">
           <div id="inputSearch">

               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MA <span class="caret"></span></button>

               <!--<span class="glyphicon glyphicon-triangle-bottom"></span> <input type="text" id="areaDropDown"/>-->
               <input ng-model="groupTitle" title="Group Search" placeholder="Hiking club" type="text"/>
               <!--<input ng-model="groupTitle" class="form-control"/>-->
               <button class="btn btn-primary" type="submit" id="findButton" value="Search" href="#/search/{{groupTitle}}" ng-click="model.fetchGroup(groupTitle)">Search</button>
           </div>
       </form>
   <div class="col-lg-12">
       <h1 class="page-header">Most popular Group</h1>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/hiking.jpg">
       </a>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/dancer.jpg" alt="">
       </a>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/game.jpeg" alt="">
       </a>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/aws.jpeg" alt="">
       </a>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/c.jpeg" alt="">
       </a>
   </div>
   <div class="col-md-4 col-sm-6">
       <a href="#">
           <img class="img-responsive img-portfolio img-hover img-thumbnail" src="../../../image/hike%20.jpeg" alt="">
       </a>
   </div>

       <div id="map_canvas">
           <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
       </div>
   </div>

       <div class="bottomContent">
       <form class="extra-content">
           <hr>
           <h1>FindGroup</h1>
           <a href="#/home">Help</a>
           <a href="#">About</a>
           <a href="#">Contact</a>
           <p>@2016 FindGroup</p>
       </form>
   </div>


   </body>

