

<div class="header_bottom_area"></div>
<!--<div class="main_content_area fix">-->
<div class="content_area structure">
    <div class="single_header_title">
        <h1>Administration center </h1>
    </div>


    <div class="fix content_area structure">
        <div class="fix slider_area">
        <div class="container">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-md-3 control-label">Group ID:</label>
            <div class="col-md-9">
               {{currentGroup._id}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Title:</label>
            <div class="col-md-9">
                {{currentGroup.title}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Description:</label>
            <div class="col-md-9">
                {{currentGroup.description}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Owner:</label>
            <div class="col-md-9">
                {{currentGroup.ownerName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Address:</label>
            <div class="col-md-9">
                {{currentGroup.address}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Group Members:</label>
            <div class="col-md-9">
                {{currentGroup.listofMembers}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Members:</label>
            <div class="col-md-9">
                {{currentGroup.usersLikeGroup}}
            </div>
        </div>
        <div class="form-group">
            <!--<div class="single_content_area" ng-repeat="group in model.groups">-->
                <!--<div class="single_main_content floatleft">-->
                    <!--<div class="single_post">-->
                        <!--<div class="post_pro_img_normal"></div>-->
                        <!--<div class="featured"><img src="../images/act/dancer.jpg" alt="" title="" class="featured_img"/></div>-->
            <!--<div ng-repeat="event in currentGroup.listofEvents" class="post_excerpt fix">-->
                <!--<div class="post_meta floatleft">-->
                    <!--<p><span>Event ID</span></p>-->
                    <!--<p>{{event._id}}</p>-->
                    <!--<p><span>Event Date</span></p>-->
                    <!--<p>{{event.date}}</p>-->

                    <!--<p><span>Event Address</span></p>-->
                    <!--<p>{{event.address}}</p>-->
                    <!--<p><span>Event Description</span></p>-->
                    <!--<p>{{event.description}}</p>-->
                <!--</div>-->
                <!--<div class="excerpt floatright">-->
                    <!--<a href="#/details/{{group._id}}"><h2>{{event.title}}</h2></a>-->
                <!--</div>-->

            <!--</div>-->


            <!--<div class="post_border_bottom"></div>-->

            <div class="row-fluid form-inline">
                <button ng-click="model.addEventInGroup(clickEvent)" class="btn btn-danger">Add Event</button>
                <button ng-click="model.editGroup()" class="btn btn-danger">Edit Group Info</button>
                <h1>CRUD EVENTS</h1>
                <!--how to put space here-->
                <!--<button ng-click="model.updateEventInGroup(clickEvent)" class="btn btn-info">Go Edit</button>-->
            </div>
            <div class="table-responsive">

                <table class="table col-md-9 adminEvent">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> ID</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Title</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Address</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> PeopleJoin</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Date</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->

                        <!--</td>-->
                        <!--<td>-->

                        <!--</td>-->
                        <!--<td>-->

                        <!--</td>-->
                        <!--<td>-->

                        <!--</td>-->
                        <!--<td>-->

                        <!--</td>-->
                        <!--<td>-->
                            <!--&lt;!&ndash;<div class="row-fluid form-inline">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button ng-click="model.addEventInGroup(clickEvent)" class="btn btn-danger">Add Event</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;how to put space here&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<button ng-click="model.updateEventInGroup(clickEvent)" class="btn btn-info">Go Edit</button>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</td>-->
                    <!--</tr>-->
                    </thead>
                    {{model.events}}
                    <tbody>

                    <tr ng-repeat="event in listofEvents">
                        <td >{{event._id}}</td>
                        <td class="form-list"><a href="#/group/{{currentGroup._id}}/event/{{event.title}}">{{event.title}}</a></td>
                        <td>{{event.address}}</td>
                        <td>{{event.peopleJoin.length}}</td>
                        <td >{{event.date}}</td>
                        <td  class="form-list">
                            <button ng-click="model.deleteEventInGroup($index)" class="btn btn-danger">Remove</button>
                            <button ng-click="model.selectAndUpateGroup($index)" class="btn btn-info ">Go Edit</button>
                    </tr>
                    </tbody>


                </table>

            </div>
            </div>

    </form>
    <!--<button ng-click="model.editGroup()" class="btn btn-danger">Edit Group Info</button>-->
    <!--<h1>CRUD EVENTS</h1>-->




</div>
</div>
        </div>
    </div>
