

<div class="header_bottom_area"></div>
<!--<div class="main_content_area fix">-->
<div class="content_area structure">
    <div class="single_header_title">
        <h1>Administration center </h1>
    </div>


    <div class="fix content_area structure">
        <div class="fix slider_area">
        <div class="container">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-md-3 control-label">Group ID:</label>
            <div class="col-md-9">
               {{currentGroup._id}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Title:</label>
            <div class="col-md-9">
                {{currentGroup.title}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Description:</label>
            <div class="col-md-9">
                {{currentGroup.description}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Owner:</label>
            <div class="col-md-9">
                {{currentGroup.ownerName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Address:</label>
            <div class="col-md-9">
                {{currentGroup.address}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Group Members:</label>
            <div class="col-md-9">
                {{currentGroup.listofMembers}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Group Members:</label>
            <div class="col-md-9">
                {{currentGroup.usersLikeGroup}}
            </div>
        </div>
        <div class="form-group">
            <!--<div class="single_content_area" ng-repeat="group in model.groups">-->
                <!--<div class="single_main_content floatleft">-->
                    <!--<div class="single_post">-->
                        <!--<div class="post_pro_img_normal"></div>-->
                        <!--<div class="featured"><img src="../images/act/dancer.jpg" alt="" title="" class="featured_img"/></div>-->
            <!--<div ng-repeat="event in currentGroup.listofEvents" class="post_excerpt fix">-->
                <!--<div class="post_meta floatleft">-->
                    <!--<p><span>Event ID</span></p>-->
                    <!--<p>{{event._id}}</p>-->
                    <!--<p><span>Event Date</span></p>-->
                    <!--<p>{{event.date}}</p>-->
                    <!--<p><span>Event Address</span></p>-->
                    <!--<p>{{event.address}}</p>-->
                    <!--<p><span>Event Description</span></p>-->
                    <!--<p>{{event.description}}</p>-->
                <!--</div>-->
                <!--<div class="excerpt floatright">-->
                    <!--<a href="#/details/{{group._id}}"><h2>{{event.title}}</h2></a>-->
                <!--</div>-->

            <!--</div>-->


            <!--<div class="post_border_bottom"></div>-->


            <div class="table-responsive">

                <table class="table col-md-8 adminEvent">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> ID</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Title</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Address</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Description</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Date</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
                    </tr>
                    <tr>
                        <td>
                            Event ID
                        </td>
                        <td>
                            <input ng-model="clickEvent.title" class="form-control input-sm" type="text"  placeholder="title">
                        </td>
                        <td>
                            <input ng-model="clickEvent.address" class="form-control input-sm" type="text"  placeholder="address">
                        </td>
                        <td>
                            <input ng-model="clickEvent.description" class="form-control input-sm" type="date" placeholder="description">
                        </td>
                        <td>
                            <input ng-model="clickEvent.date" class="form-control input-sm" type="date" placeholder="date">
                        </td>
                        <td>
                            <div class="row-fluid form-inline">
                                <button ng-click="model.addEventInGroup(clickEvent)" class="btn btn-danger glyphicon glyphicon-plus"></button>
                                <!--how to put space here-->
                                <button ng-click="model.updateEventInGroup(clickEvent)" class="btn btn-info glyphicon glyphicon-ok"></button>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    {{model.events}}
                    <tbody>

                    <tr ng-repeat="event in model.events">
                        <td >{{event._id}}</td>
                        <td class="form-list"><a href="#/group/{{currentGroup._id}}/event/{{event.title}}">{{event.title}}</a></td>
                        <td>{{event.address}}</td>
                        <td>{{event.description}}</td>
                        <td >{{event.date}}</td>
                        <td  class="form-list">
                            <button ng-click="model.deleteEventInGroup($index)" class="btn btn-danger glyphicon glyphicon-remove action-icon"></button>
                            <button ng-click="model.selectEventInGroup($index)" class="btn btn-info glyphicon glyphicon-pencil action-icon"></button>
                    </tr>
                    </tbody>


                </table>

            </div>
            </div>

    </form>
    <button ng-click="model.editGroup()" class="btn btn-danger">Edit Group Info</button>
    <h1>CRUD EVENTS</h1>




</div>
</div>
        </div>
    </div>
