<div>
    <div class="modal-header">
        <h3 class="modal-title">Event edit page</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="title" class="col-md-3 control-label">Title:</label>
                <div class="col-md-9">
                    <input ng-model="editEvent.title" id="title" class="form-control profileInput" type="text" placeholder="title">
                </div>
            </div>
            <p>Description:</p>
            <div text-angular ng-model="editEvent.htmlVariable">
                <input ng-bind-html="editEvent.htmlVariable" />
            </div>
            <div class="form-group">
                <label for="address" class="col-md-3 control-label">Address:</label>
                <div class="col-md-9">
                    <input ng-model="editEvent.address" id="address" class="form-control profileInput" type="text" placeholder="address">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-md-3 control-label">Address:</label>
                <div class="col-md-9">
                    <input ng-model="editEvent.date" id="date" class="form-control profileInput" type="date" placeholder="date">
                </div>
            </div>

        </form>

    </div>
</div>
<div  class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="model.editEvent(editEvent)">OK</button>
</div>
</div>