<div>
    <div class="modal-header">
        <h3 class="modal-title">edit the group</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="title" class="col-md-3 control-label">Title:</label>
                <div class="col-md-9">
                    <input ng-model="currentGroup.title" id="title" class="form-control profileInput" type="text" placeholder="title">
                </div>
            </div>
            <p>Description:</p>
            <div text-angular ng-model="currentGroup.htmlVariable">
                <input ng-bind-html="currentGroup.htmlVariable"/>
            </div>

            {{model.htmlContent}}
            <div class="form-group">
                <label for="address" class="col-md-3 control-label">Address:</label>
                <div class="col-md-9">
                    <input ng-model="currentGroup.address" id="address" class="form-control profileInput" type="text" placeholder="address">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-md-3 control-label">Group Type:</label>
                <div class="col-md-9">
                    <select ng-model="currentGroup.groupType" id="type" class="form-control profileInput" type="text" placeholder="Group Type">
                        <option value="Sports">Sports</option>
                        <option value="Social">Social</option>
                        <option value="Technical">Technical</option>
                        </select>
                </div>
            </div>

        </form>

    </div>
</div>
<div  class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="model.editGroup(currentGroup)">OK</button>
    <button class="btn btn-primary" type="button" ng-click="model.cancel()">Cancel</button>
</div>
</div>