
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Forms: Registration Form</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': $location.url()=='/forms'}" role="presentation"><a href="#/forms">Forms</a>
            <li ng-class="{'active': $location.url()=='/form-fields'}" role="presentation"><a href="#/form-fields">Fields</a>
            </li>
        </ul>
        <div class="table-responsive">
            <table class="table sptable">
                <tbody>
                    <tr>
                        <td class="nonebored">
                            <label for="exampleInputFirstName1">First Name</label>
                            <br/>
                            <input type="text" id="exampleInputFirstName1" placeholder="First Name" >
                        <!--how to put space here-->
                        </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="nonebored">
                            <label for="exampleInputLastName1">Last Name</label>
                            <br/>
                            <div>
                                <input type="text" id="exampleInputLastName1" placeholder="Last Name" >
                                <!--how to put space here-->
                            </div>
                        </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="nonebored">
                                <label for="exampleInputDateofBirth">Date of Birth</label>
                                <br/>
                            <input type="date" placeholder="select date" id="exampleInputDateofBirth">

                        </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>
                        </td>
                    </tr>
                <tr>
                    <td class="nonebored">
                            <b>Gender:</b>
                            <br/>
                            <select name="gender">
                                <option>male</option>
                                <option>female</option>
                            </select>
                    </td>
                    <td class="iconright nonebored">
                        </br>
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </td>
                </tr>
                <tr>
                    <td class="nonebored">
                        <div class="Role">

                            <label>Roles:</label>
                            <br/>
                            <input type="checkbox" checked> Admin
                            </br>
                            <input type="checkbox"> Student
                            </br>
                            <input type="checkbox" checked> User
                        </div>
                        </td>
                    <td class="iconright nonebored">
                        </br>
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </td>
                    </tr>
                    <tr>
                        <td class="nonebored">
                        <div class="license agreement">

                            <label>License Agreement:</label>
                            <br/>
                            <input type="radio" name="optionRadios" id="optionRadio1" value="option1" checked> Yes
                            </br>
                            <input type="radio" name="optionRadios" id="optionRadio2" value="option2"> No
                        </div>
                    </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>
                        </td>
                </tr>
                <br>
                    <td>
                            <b>Add New Field:</b>
                            <br/>
                            <select name="gender">
                                <option>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkboxes</option>
                                <option>Radio buttons</option>
                                <option>Paragraph Text Field</option>
                            </select>

                        </td>

                    <td class="iconright">
                        </br>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                    </td>

                </tr>


                    </tbody>
                    </table>
                </div>


    </div>
</div>

