<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-hide="user" ng-class="{'navbar-selected' : $location.url().indexOf('register') != -1}" href="#/register">Register</a></li>
                <li><a ng-hide="user" ng-class="{'navbar-selected' : $location.url().indexOf('login') != -1}" href="#/login">Login</a></li>
                <li><a ng-show='user'>{{user.username}}</a></li>
                <li><a ng-show="user" ng-click="logout(user)">Logout</a></li>
                <li><a ng-show="user.roles.index('admin') >=0" ng-class="{'navbar-selected' : $location.url().indexOf('admin') != -1}">Admin</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>

        </div>
    </div>
</nav>