<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->


    <!--&lt;!&ndash;<script src="js/jquery.bxslider.min.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; bxSlider CSS file &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<link href="css/jquery.bxslider.css" rel="stylesheet" />&ndash;&gt;-->
    <!--&lt;!&ndash;<script> $('#myCarousel').carousel({ interval: 3000 }) </script>﻿&ndash;&gt;-->
    <!--<link href="../css/modern-business.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom Fonts &ndash;&gt;-->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

    <!--&lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<link href="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js " rel="stylesheet"/>-->
    <!--<![endif]&ndash;&gt;-->
    <!--<link href="../css/signUp.css" rel="stylesheet"/>-->
    <!--<script type="text/javascript" src="../js/my.js"></script>-->


<!--</head>-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
    <h2>Sign Up</h2>
    <label for="username" class="control-label">Username</label>
    <input ng-model="theUser.username" id="username" type="text" placeholder='Username' required>
    <label for="password" class="control-label">Password</label>
    <input ng-model="theUser.password" id="password" type="password" placeholder='Password' required>
    <!--&lt;!&ndash;<input id="username" name='username' placeholder='Username' type='text'>&ndash;&gt;-->
    <!--<input id='pw' name='password' placeholder='Password' type='password'>-->
    <label for="email" class="control-label">Email</label>
    <input ng-model="theUser.email" id="email" type="email" placeholder='Email' required>
    <!--<input name='email' placeholder='E-Mail Address' type='text'>-->
    <div class='agree'>
        <input id='agree' name='agree' type='checkbox'>
        <label for='agree'></label>Accept rules and conditions
    </div>
    <input type='submit' value='Sign Up'>
    <a class='forgot' href='../views/login/logIn.html'>Already have an account?</a>
</div>