
<div class='login'>
    <h2>Sign Up</h2>
    <label for="username" class="control-label">Username</label>
    <input ng-model="theUser.username" id="username" type="text" placeholder='Username' required>
    <label for="password" class="control-label">Password</label>
    <input ng-model="theUser.password" id="password" type="password" placeholder='Password' required>
    <!--&lt;!&ndash;<input id="username" name='username' placeholder='Username' type='text'>&ndash;&gt;-->
    <!--<input id='pw' name='password' placeholder='Password' type='password'>-->
    <label for="email" class="control-label">Email</label>
    <input ng-model="theUser.email" id="email" type="email" placeholder='Email' required>
    <!--<input name='email' placeholder='E-Mail Address' type='text'>-->

    <button ng-click="register(theUser)" class="btn btn-primary btn-lg btn-block">Sign Up</button>
    <a class='forgot' href='#/login'>Already have an account?</a>
</div>