<div>
    <div class="modal-header">
        <h3 class="modal-title">Add a new group</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">

            <h2>Editor</h2>
            <p>Description:</p>
            <div text-angular ng-model="newgroup.htmlVariable"></div>


            <!--<h2>Raw HTML</h2>-->
            <!--{{model.htmlContent}}-->

            <!--<h2>Rendered</h2>-->
            <!--<div ng-bind-html="model.htmlRender">-->
            <!--</div>-->

            <div  class="form-group groupAddPage">
                <label for="title" class="col-md-3 control-label">Title:</label>
                    <input ng-model="newgroup.title" id="title" class="form-control profileInput" type="text" placeholder="title">

            </div>

            <div class="form-group groupAddPage">
                <label for="address" class="col-md-3 control-label">Address:</label>
                    <input ng-model="newgroup.address" id="address" class="form-control profileInput" type="text" placeholder="address">

            </div>
            <div class="form-group groupAddPage">
                <label for="grouptype">Add New Field:</label>
                <select ng-model="newgroup.groupType" id="grouptype" class="form-control profileInput" type="text" placeholder="Group Type">
                    <option value="Sports">Sports</option>
                    <option value="Social">Social</option>
                    <option value="Technical">Technical</option>
                    <!--<option value="TEXTAREA">Multi Line Text Field</option>-->
                    <!--<option value="DATE">Date Field</option>-->
                    <!--<option value="OPTIONS">Dropdown Field</option>-->
                    <!--<option value="CHECKBOXES">Checkboxes Field</option>-->
                    <!--<option value="RADIOS">Radio Buttons Field</option>-->
                    <!--<option value="EMAIL">Email Field</option>-->
                </select>
            </div>

        </form>

    </div>
    </div>
    <div  class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="model.addGroupToGroups(newgroup)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="model.cancel()">Cancel</button>
    </div>
</div>

