<body>
<div class="container">
<!-- Navigation -->

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">FindGroup
                <small>Groups</small>
                <button ng-click="model.addGroup2()" class="btn btn-danger">Create a new Group</button>

            </h1>
        </div>
    </div>

    <div ng-repeat="group in model.groups" class="row">
        <hr>
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Project One</h3>
            <h4>Subheading</h4>
            <form id="grouplist">
            <div>{{group._id}}</div>
            <div><a href="#/details/{{group._id}}">GroupTitle:{{group.title}}</a></div>
                <div>GroupOwner:{{group.ownerName}}</div>
            </form>

            <a class="btn btn-primary" ng-click="model.deleteGroup($index)">Delete Group <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!--<hr>-->
    <!---->
    <!-- Pagination -->
    <!--<div class="row text-center">-->
        <!--<div class="col-lg-12">-->
            <!--<ul class="pagination">-->
                <!--<li>-->
                    <!--<a href="#">&laquo;</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a href="#">1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">3</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">4</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">5</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">&raquo;</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /.row -->

</div>
    </div>
</body>

<div class="bottomContent">
    <form class="extra-content">
        <hr>
        <h1>FindGroup</h1>
        <a href="#">Help</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <p>@2016 FindGroup</p>
    </form>
</div>

