
<div class="container">

<h1 id="title-head">Search Results</h1>

<!--<a ng-click="fetchGroup(groupTitle)" class="btn btn-primary btn-block">-->
    <!--Search-->
<!--</a>-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>OwnerName</th>
        <th>Events</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="group in groups">{{group._id}}</td>
        <td ng-repeat="group in groups"><a href="#/details/{{group._id}}">{{group.title}}</a></td>
        <td ng-repeat="group in groups">{{group.description}}</td>
        <td ng-repeat="group in groups">{{group.ownerName}}</td>
        <td ng-repeat="group in groups">{{group.listofEvents}}</td>
    </tr>

    <tr ng-repeat="group in groups">
        <td>

        </td>
    </tr>
    <tr>{{errorMessage}}</tr>
    </tbody>
</table>
</div>