
<h1>Search OMDBAPI 123</h1>

<h1>Search Results</h1>

<h1>Search Results</h1>

<!--<a ng-click="fetchGroup(groupTitle)" class="btn btn-primary btn-block">-->
    <!--Search-->
<!--</a>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Poster</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{group.title}}</a>

        </td>
    </tr>
    <tr ng-repeat="group in groups">
        <td>
            <a href="#/details/{{group._id}}">{{group.title}}</a>
        </td>
    </tr>
    <tr>{{errorMessage}}</tr>
    </tbody>
</table>
</div>