<div>
    <div class="modal-header">
        <h3 class="modal-title">{{clickField.type}}</h3>
    </div>
    <div class="modal-body">
        <label>
            Label
            <input ng-model="clickField.label" type="text" class="form-control" value="{{clickField.label}}">
        </label>

        <label ng-class="{hide: !Placeholder}">
            Placeholder
            <div>
            <input ng-model="clickField.placeholder" type="text" class="form-control" value="{{clickField.placeholder}}">
            </div>
        </label>

        <label ng-model="$parent.clickField.options" ng-class="{hide: !Textarea}">
            Options
            <textarea ng-repeat="option in clickField.options" class="form-control">
                {{option.label}}</textarea>
        </label>

    </div>
    <div for="clickField" class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit(clickField)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>