
<div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-2 main">
    <h1>Forms</h1>
    <ul class="nav nav-tabs">

        <li role="presentation">
            <a href="#/forms">Forms</a>
        </li>
        <li role="presentation" ng-class="{'active' : $location.url().indexOf('user') != -1}">
            <a href="#/user">Fields</a>
        </li>
    </ul>

    <form id="form-fields">

            <div id="tbody-sortable" field-sortable jpa-axis="y" class="connectedSortable">
            <div ng-repeat="field in model.fields"  class="row">
            <div class="form-group col-xs-7 ">
                <label>{{field.label}}:</label>
                <div ng-switch=field.type >
                    <input ng-switch-when="TEXT"  type="text" class="form-control" placeholder={{field.placeholder}}>
                    <textarea ng-switch-when="TEXTAREA"  class="form-control " rows="5" placeholder={{field.placeholder}}></textarea>
                    <input ng-switch-when="DATE"  type="date" class="form-control" placeholder={{field.placeholder}}>
                    <select ng-switch-when="OPTIONS"  name={{field.id}} class="form-control">
                        <option ng-repeat="choice in field.options" value={{choice.value}}>{{choice.label}}</option>
                    </select>
                    <div ng-switch-when="CHECKBOXES" ng-repeat="choice in field.options" class="checkbox">
                        <label><input type="checkbox" value={{choice.value}}>{{choice.label}}</label>
                    </div>
                    <div ng-switch-when="RADIOS" ng-repeat="choice in field.options" class="radio">
                        <label><input type="radio" value={{choice.value}} name="license">{{choice.label}}</label>
                    </div>
                    <input ng-switch-when="EMAIL" type="email" class="form-control" placeholder={{field.placeholder}}>
                </div>
                </div>
                <h3><span id="sortable2"></span></h3>



            <div class="form-group col-xs-3 text-center valign">
                <button ng-click="model.editField($index)" class="btn btn-info glyphicon glyphicon-pencil action-icon" aria-hidden="true"></button>
                <a ng-click="model.cloneField(field)" class="btn btn-danger glyphicon glyphicon-plus action-icon" aria-hidden="true"></a>
                <a ng-click="model.removeField(field)" class="btn btn-danger glyphicon glyphicon-remove action-icon" aria-hidden="true"></a>
                <a>
                <span class="btn btn-primary ui-state-default glyphicon glyphicon-align-justify action-icon" aria-hidden="true"></span>
                    </a>
            </div>
        </div>
            </div>


        <div class="row">
            <div class="col-md-12"><hr></div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="add-new-field">Add New Field:</label>
                <select ng-model="model.fieldType" id="add-new-field" name="add-new" class="form-control">
                    <option value="TEXT">Single Line Text</option>
                    <option value="TEXTAREA">Multi Line Text Field</option>
                    <option value="DATE">Date Field</option>
                    <option value="OPTIONS">Dropdown Field</option>
                    <option value="CHECKBOXES">Checkboxes Field</option>
                    <option value="RADIOS">Radio Buttons Field</option>
                    <option value="EMAIL">Email Field</option>
                </select>
            </div>
            <div class="form-group col-md-6 valign">
                <br>
                <button ng-click="model.addField(model.fieldType)" class="btn btn-danger glyphicon glyphicon-plus action-icon"></button>
            </div>
        </div>

    </form>
    </div>

    </div>