
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <!--<h1>Forms: Registration Form</h1>-->
    <!--</div>-->
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li ng-class="{'active': $location.url()=='/forms'}" role="presentation"><a href="#/forms">Forms</a>-->
            <!--<li ng-class="{'active': $location.url()=='/form-fields'}" role="presentation"><a href="#/form-fields">Fields</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="table-responsive">-->
            <!--<table class="table sptable">-->
                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td class="nonebored">-->
                            <!--<label for="exampleInputFirstName1">First Name</label>-->
                            <!--<br/>-->
                            <!--<input type="text" id="exampleInputFirstName1" placeholder="First Name" >-->
                        <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                        <!--</td>-->
                        <!--<td class="iconright nonebored">-->
                            <!--</br>-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="nonebored">-->
                            <!--<label for="exampleInputLastName1">Last Name</label>-->
                            <!--<br/>-->
                            <!--<div>-->
                                <!--<input type="text" id="exampleInputLastName1" placeholder="Last Name" >-->
                                <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td class="iconright nonebored">-->
                            <!--</br>-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td ng-switch-when="DATE" ng-model="field" class="nonebored">-->
                                <!--<label for="exampleInputDateofBirth">{{field.label}}</label>-->
                                <!--<br/>-->
                            <!--<input type="date" placeholder="select date" id="exampleInputDateofBirth" ng-model="field.value">-->

                        <!--</td>-->
                        <!--<td class="iconright nonebored">-->
                            <!--</br>-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="nonebored">-->
                            <!--<b>Gender:</b>-->
                            <!--<br/>-->
                            <!--<select name="gender">-->
                                <!--<option>male</option>-->
                                <!--<option>female</option>-->
                            <!--</select>-->
                    <!--</td>-->
                    <!--<td class="iconright nonebored">-->
                        <!--</br>-->
                        <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="nonebored">-->
                        <!--<div class="Role">-->

                            <!--<label>Roles:</label>-->
                            <!--<br/>-->
                            <!--<input type="checkbox" checked> Admin-->
                            <!--</br>-->
                            <!--<input type="checkbox"> Student-->
                            <!--</br>-->
                            <!--<input type="checkbox" checked> User-->
                        <!--</div>-->
                        <!--</td>-->
                    <!--<td class="iconright nonebored">-->
                        <!--</br>-->
                        <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                        <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="nonebored">-->
                        <!--<div class="license agreement">-->

                            <!--<label>License Agreement:</label>-->
                            <!--<br/>-->
                            <!--<input type="radio" name="optionRadios" id="optionRadio1" value="option1" checked> Yes-->
                            <!--</br>-->
                            <!--<input type="radio" name="optionRadios" id="optionRadio2" value="option2"> No-->
                        <!--</div>-->
                    <!--</td>-->
                        <!--<td class="iconright nonebored">-->
                            <!--</br>-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                        <!--</td>-->
                <!--</tr>-->
                <!--<br>-->
                    <!--<td>-->
                            <!--<b>Add New Field:</b>-->
                            <!--<br/>-->
                            <!--<select name="gender">-->
                                <!--<option>Single Line Text</option>-->
                                <!--<option>Date</option>-->
                                <!--<option>Dropdown</option>-->
                                <!--<option>Checkboxes</option>-->
                                <!--<option>Radio buttons</option>-->
                                <!--<option>Paragraph Text Field</option>-->
                            <!--</select>-->

                        <!--</td>-->

                    <!--<td class="iconright">-->
                        <!--</br>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                    <!--</td>-->

                <!--</tr>-->


                    <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->


    <!--</div>-->
<!--</div>-->

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container-fluid">
            <div class="row">
                <h1>Forms : Registration Form</h1>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#/forms">Forms</a></li>
                    <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
                </ul>

                <div class="container-fluid tab-box" >
                    <div class="row container-fluid top-bottom-small-pad relative" ng-switch="field.type" ng-repeat="field in model.fields">

                        <!-- Text Field -->
                        <div ng-switch-when="TEXT" ng-model="field">
                            <label class="col-xs-6">
                                {{field.label}}
                                <input type="text" class="form-control" placeholder="{{field.placeholder}}"</input>
                            </label>
                            <div class="col-xs-2"></div>
                        </div>

                        <!-- Text Field(Email) -->
                        <div ng-switch-when="EMAIL" ng-model="field">
                            <label class="col-xs-6">
                                {{field.label}}
                                <input type="email" class="form-control" placeholder="{{field.placeholder}}"></input>
                            </label>
                            <div class="col-xs-2"></div>
                        </div>

                        <!-- Text Area -->
                        <div ng-switch-when="TEXTAREA" ng-model="field">
                            <label class="col-xs-6">
                                {{field.label}}
                                <textarea class="form-control" rows="10" cols="70" placeholder="{{field.placeholder}}"></textarea>
                            </label>
                        </div>

                        <!-- Date Picker -->
                        <div ng-switch-when="DATE" ng-model="field">
                            <label class="col-xs-6">
                                {{field.label}}
                                <input type="date" class="form-control date-picker" name="dob" ng-model="field.value"></input>
                            </label>
                        </div>

                        <!-- Dropdown -->
                        <div ng-switch-when="OPTIONS">
                            <label for="selectDropdown" class="col-xs-6 container-fluid">
                                {{field.label}}
                                <select id="selectDropdown" class="form-control container-fluid">
                                    <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                                </select>
                            </label>
                        </div>

                        <!-- Checkboxes -->
                        <div ng-switch-when="CHECKBOXES">
                            <label for="checkBoxes" class="container-fluid col-xs-6">
                                {{field.label}}
                                <div id="checkBoxes" class="container-fluid">
                                    <div class="checkbox container-fluid" ng-repeat="option in field.options">
                                        <input type="checkbox" value="{{option.value}}"> {{option.label}}<br>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <!-- Radio Buttons -->
                        <div ng-switch-when="RADIOS">
                            <label for="radioGroup" class="container-fluid col-xs-6">
                                {{field.label}}
                                <div id="radioGroup" class="container-fluid">
                                    <div class="radio container-fluid" ng-repeat="option in field.options">
                                        <input type="radio" value="{{option.value}}" > {{option.label}}<br>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <!-- Glyphicons -->
                        <div class="col-xs-4 container-fluid pull-right buttons-bottom">
                            <div class="btn-group-align input-group">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="model.deleteField(field)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add New Field Row -->

                <div class="row container-fluid">
                    <hr class="bigBorder">
                </div>
                <div class="row container-fluid">
                    <div class="container-fluid">
                        <div class="col-xs-6">
                            <select ng-model="model.fieldType" class="form-control">
                                <option value="singleLine">Single Line Text</option>
                                <option value="multiLine">Multi Line Text</option>
                                <option value="date">Date</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="checkbox">Checkboxes</option>
                                <option value="radio">Radio Buttons</option>
                            </select>

                        </div>
                        <div class="col-xs-2 container-fluid"></div>
                        <div class="col-xs-4 container-fluid btn-group-align" ng-click="model.addField(model.fieldType)">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

