
<div class="container">
    <h1 class="groupTitle">Groups</h1>
<!--<div class="col-md-4 col-sm-5">-->
    <!--<a href="portfolio-item.html">-->
        <!--<img class="img-responsive img-portfolio img-hover img-thumbnail" src="../image/dancer.jpg" alt="">-->
    <!--</a>-->

<!--</div>-->


        <table class="table table-hover">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Group ID</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Group Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Group OwnerName</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
            </tr>
            <tr>
                <td>Auto Assign GroupID
                    <!--<input ng-model="clickGroup._id" class="form-control input-sm" type="text" id="group-title" placeholder="GroupID">-->
                </td>
                <td>
                    <input ng-model="clickGroup.title" class="form-control input-sm" type="text" id="group-description" placeholder="GroupName">
                </td>
                <td>
                    <input ng-model="clickGroup.ownerName" class="form-control input-sm" type="text" id="group-ownerName" placeholder="GroupownerName">
                </td>
                <td>
                    <div class="row-fluid form-inline text-center">
                        <button ng-click="addGroup(clickGroup)" class="btn btn-danger glyphicon glyphicon-plus"></button>
                        <!--how to put space here-->
                        <button ng-click="updateGroup(clickGroup)" class="btn btn-info glyphicon glyphicon-ok"></button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups">
                <td>{{group._id}}</td>
                <td class="form-list"><a href="#/details/{{group._id}}">{{group.title}}</a></td>
                <td>{{group.ownerName}}</td>
                <td class="form-list form-inline text-center">
                    <button ng-click="deleteGroup($index)" class="btn btn-danger glyphicon glyphicon-remove action-icon"></button>
                    <button ng-click="selectGroup($index)" class="btn btn-default glyphicon glyphicon-pencil action-icon"></button>
                <!--</td>-->
                <!--<td>{{results[0].geometry.location.lat}}</td>-->
            </tr>







        </table>




</div>
<div class="bottomContent">
    <form class="extra-content">
        <hr>
        <h1>FindGroup</h1>
        <a href="#">Help</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <p>@2016 FindGroup</p>
    </form>
</div>

