<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/mystyle.css" rel="stylesheet">
    <!--<script src="js/jquery.bxslider.min.js"></script>-->
    <!--&lt;!&ndash; bxSlider CSS file &ndash;&gt;-->
    <!--<link href="css/jquery.bxslider.css" rel="stylesheet" />-->
    <!--<script> $('#myCarousel').carousel({ interval: 3000 }) </script>﻿-->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js " rel="stylesheet"/>
    <![endif]-->
    <script type="text/css" src="../css/style.css"></script>


</head>

<body>
<header class="header">
    <img src="../image/logo2.png" id="logo"/>
    <button type="button" id="createGroup" class="btn btn-danger" href="group.html">Create My Group</button>
    <nav>

        <a href="#" id="menu-icon"></a>
        <ul>
            <li class="menu-btn"><a class="btn btn-primary framed" href="../views/signup/signUp.html" class="current">Sign Up</a></li>
            <li class="menu-btn"><a class="btn btn-primary" href="../views/login/logIn.html">Log In</a></li>
        </ul>

    </nav>
</header>
<!--<div class="container">-->
   <!--<h1 style="margin-top:50px; color:black">Dancer Club</h1>-->
    <!--<div class="table-responsive">-->
    <!--<table class="table table-stripe">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Description</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td>-->
                <!--fweipqjfwqejfoiwejfiojweiopfjwef,fweqfwjpeqiffweqjifpweqjfipwoejfwe,fweqfijpwoejfiopwejfiowe,fewfijpweof-->
                <!--,fwejfiopwejfiopjwqiopfwe,fqwepjioewjtiweitjw,fwejqiofpjwoie-->
                <!--,fwejiofpeqjfjewffeqfwefwefwefwefwefwefwef-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Event Detail</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Address: Northeastern University International Village 112room</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Time: 4:00-5:00PM</td>-->
        <!--</tr>-->

        <!--</tbody>-->
    <!--</table>-->


<!--</div>-->
<!--</div>-->

<div class="container">
    <h1>Dancer Club</h1>
<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="table-responsive">
        <table class="table sptable">
            <thead style="margin-top: 50px;">
            <tr>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="nonebored">
                    fweipqjfwqejfoiwejfiojweiopfjwef,fweqfwjpeqiffweqjifpweqjfipwoejfwe,fweqfijpwoejfiopwejfiowe,fewfijpweof
                    ,fwejfiopwejfiopjwqiopfwe,fqwepjioewjtiweitjw,fwejqiofpjwoie
                    ,fwejiofpeqjfjewffeqfwefwefwefwefwefwefwef
                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Event Detail
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Address: Northeastern University International Village 112room
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Time: 4:00-5:00PM
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">

                </td>
                <td class="iconright nonebored">

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </div>
    </div>

<div class="bottomContent">
    <form class="extra-content">
        <hr>
        <h1>FindGroup</h1>
        <a href="#">Help</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <p>@2016 FindGroup</p>
    </form>
</div>

</body>


</html>
