

<h1 class="eventTitle">{{event._id}}</h1>

<table class="table sptable">
    <tbody>
    <tr>
        <td class="nonebored">
            <button ng-click="joinGroup()" class="btn btn-danger">Join Us</button>
            <div>
            </div>
        </td>
        <!--<td class="iconright nonebored">-->
        <!--<span class="likebtn-wrapper" data-theme="drop" data-identifier="item_1"></span>-->
        <!--<script>(function(d,e,s)-->
        <!--{if(d.getElementById("likebtn_wjs"))-->
        <!--return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];-->
        <!--a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})-->
        <!--(document,"script","//w.likebtn.com/js/w/widget.js");</script>-->
        <!--</td>-->
    </tr>
    <tr>
        <td class="nonebord">
            <h1>Group Name</h1>
        </td>
        <td>
            {{event._id}}
        </td>
    </tr>
    <tr>
        <td>
            <h1>Group Description</h1>
        </td>
        <td>{{event._id}}</td>
    </tr>
    <tr>
        <td>
            <h1>Group Events</h1>
        </td>
        <td><a href="#/details/event/{{event._id}}">{{event._id}}</a></td>
    </tr>
    <tr>
        <td>Address Map</td>
        <td>
            <div my-map=""></div>
            <iframe border-radius="10" width="100%" height="400" frameborder="0" ng-src="{{url}}"></iframe>
        </td>
        <td><button class="btn btn-danger">Find in event Maps</button></td>


    </tr>
    </tbody>
</table>
<div class="container">
    <h1>Dancer Club</h1>
<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1">
    <div class="table-responsive">
        <table class="table sptable">
            <thead style="margin-top: 50px;">
            <tr>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="nonebored">
                    fweipqjfwqejfoiwejfiojweiopfjwef,fweqfwjpeqiffweqjifpweqjfipwoejfwe,fweqfijpwoejfiopwejfiowe,fewfijpweof
                    ,fwejfiopwejfiopjwqiopfwe,fqwepjioewjtiweitjw,fwejqiofpjwoie
                    ,fwejiofpeqjfjewffeqfwefwefwefwefwefwefwef
                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Event Detail
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Address: Northeastern University International Village 112room
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">
                    Time: 4:00-5:00PM
                </td>
                <td class="iconright nonebored">

                </td>
            </tr>
            <tr>
                <td class="nonebored">

                </td>
                <td class="iconright nonebored">

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </div>
    </div>

<div class="bottomContent">
    <form class="extra-content">
        <hr>
        <h1>FindGroup</h1>
        <a href="#">Help</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <p>@2016 FindGroup</p>
    </form>
</div>

</body>


</html>
