<div class="findGroupLogin">
    <h1 id="logorsign">Log In</h1>
<form>
    <label for="username" class="control-label">Username</label>
    <input ng-model="user.username" id="username" type="text" placeholder="User Name*"  class="cf_txt"/>
    <label for="password" class="control-label">Password</label>
    <input ng-model="user.password" id="password" type="password" placeholder="Password*" class="cf_txt"/>
    <input ng-click="model.login(user)" type="Submit" value="LogIn" class="cf_submit"/>
</form>
</div>

