<h1 class="groupTitle">{{group.title}}</h1>

<table class="table sptable">
    <tbody>
    <tr>
        <td class="nonebored">
            <button ng-click="joinGroup()" class="btn btn-danger">Join Us</button>
            <div>
            </div>
        </td>
        <td>
            <button class="btn btn-primay"
                    ng-click="favorite(group)">
                <span class="glyphicon glyphicon-star-empty"></span>
            </button>
        </td>

    </tr>
    <tr>
        <td class="nonebord">
            <h1>Group Name</h1>
        </td>
        <td>
            {{group.title}}
        </td>
    </tr>
    <tr>
        <td>
            <h1>Group Description</h1>
        </td>
        <td>{{group.description}}</td>
    </tr>
    <tr>
        <td>
        <h1>Group Owner</h1>
        </td>
        <td>{{group.ownerName}}</td>
    </tr>
    <tr>
        <td>
            <h1>Group Events</h1>
        </td>
        <td ng-repeat="event in group.listofEvents"><a href="#/event/{{event._id}}">{{event._id}}</a></td>
    </tr>
    <tr>
        <td>Address Map</td>
        <td>
            <div my-map=""></div>
            <iframe border-radius="10" width="100%" height="400" frameborder="0" ng-src="{{url}}"></iframe>
        </td>
        <td><button class="btn btn-danger" ng-click="init(group.address)">Find in Google Maps</button></td>


    </tr>

    <tr>
        <div ng-if="model.group.userLike">
            <h4>Other Users that like this group</h4>
            <ul>
                <li ng-repeat="user in model.group.userLike">
                    {{user.username}}
                </li>
            </ul>
        </div>
    </tr>
    </tbody>
</table>






