<div class="container">
<h1 class="groupTitle">{{group.title}}</h1>

    <div class="table table-responsive">
<table class="table sptable">
    <tbody>
    <tr>
        <td class="nonebored">
            <button ng-click="joinGroup()" class="btn btn-danger">Join Us</button>
            <div>
            </div>
        </td>
        <td class="nonebored">
            <button ng-show="currentUser.username===group.ownerName" ng-click="manageGroup()" class="btn btn-danger">Manage the Group</button>
            <div>
            </div>
        </td>
        <td>
            <button class="btn btn-primay"
                    ng-click="favorite(group)">
                <span class="glyphicon glyphicon-star-empty"></span>
            </button>
        </td>

    </tr>
    <tr>
        <td class="nonebord">
            <h1>Group Name</h1>
        </td>
        <td>
            {{group.title}}
        </td>
    </tr>
    <tr>
        <td>
            <h1>Group Description</h1>
        </td>
        <td>{{group.description}}</td>
    </tr>
    <tr>
        <td>
        <h1>Group Owner</h1>
        </td>
        <td>{{group.ownerName}}</td>
    </tr>
    <tr>
        <td>
            <h1>Group Events</h1>
        </td>
        <td><a ng-repeat="event in group.listofEvents" href="#/event/{{event._id}}">{{event._id}},  </a></td>
    </tr>
    <tr>
        <td><h1>Groups Members</h1></td>
        <td ng-repeat="member in group.listofMembers">{{member.username}}</td>
    </tr>
    <tr>
        <td><h1>Address Map</h1></td>
        <td>
            <div my-map=""></div>
            <iframe border-radius="10" width="100%" height="400" frameborder="0" ng-src="{{url}}"></iframe>
        </td>



    </tr>

    </tbody>
</table>

</div>
</div>




