<h1 class="groupTitle">{{group.title}}</h1>

<table class="table sptable">
    <tbody>
    <tr>
        <td class="nonebored">
            <button ng-click="joinGroup()" class="btn btn-danger">Join Us</button>
            <div>
            </div>
        </td>
        <!--<td class="iconright nonebored">-->
            <!--<span class="likebtn-wrapper" data-theme="drop" data-identifier="item_1"></span>-->
            <!--<script>(function(d,e,s)-->
            <!--{if(d.getElementById("likebtn_wjs"))-->
                <!--return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];-->
                <!--a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})-->
            <!--(document,"script","//w.likebtn.com/js/w/widget.js");</script>-->
        <!--</td>-->
    </tr>
    <tr>
        <td class="nonebord">
            <h1>Group Name</h1>
        </td>
        <td>
            {{group.title}}
        </td>
    </tr>
    <tr>
        <td>
            <h1>Group Description</h1>
        </td>
        <td>{{group.description}}</td>
    </tr>
    <tr>
        <td>
        <h1>Group Owner</h1>
        </td>
        <td>{{group.ownerName}}</td>
    </tr>
    <tr>
        <td>
            <h1>Group Events</h1>
        </td>
        <td ng-repeat="event in group.listofEvents"><a ng-click="findEvent(group._id, event._id)" href="#/event/{{event._id}}">{{event._id}}</a></td>
    </tr>
    <tr>
        <td>Address Map</td>
        <td>
            <div my-map=""></div>
            <iframe border-radius="10" width="100%" height="400" frameborder="0" ng-src="{{url}}"></iframe>
        </td>
        <td><button class="btn btn-danger" ng-click="init(group.address)">Find in Google Maps</button></td>


    </tr>
    </tbody>
</table>






