<div class="findGroupLogin">
    <h1 id="logorsign">Sign Up</h1>
    <form>
        <label for="username" class="control-label">Username</label>
        <input ng-model="model.theUser.username" id="username" type="text" placeholder="User Name*"  class="cf_txt"/>
        <label for="password" class="control-label">Password</label>
        <input ng-model="model.theUser.password" id="password" type="text" placeholder="Password*" class="cf_txt"/>
        <label for="email" class="control-label">Email</label>
        <input ng-model="model.theUser.email" id="email" type="email" placeholder="Email Address*" class="cf_email"/>
        <input ng-click="model.register(model.theUser)" type="Submit" value="LogIn" class="cf_submit"/>
    </form>
</div>

