<div class="header_area">
    <div class="fix header">
        <div class="logo fix floatleft">
            <a href="#"><h1>Find<span>Group</span></h1></a>
        </div>
        <div class="mainmenu floatright">
            <ul id="nav">

                <li ng-class="{'active': $location.url()=='/home'}"><a href="#/home">Home</a></li>
                <li ng-class="{'active': $location.url()=='/group'}"><a href="#/group">group</a></li>
                <li ng-show="!user" ng-class="{'active': $location.url()=='/signup'}"><a href="#/signup">sign up</a></li>
                <li ng-show="!user" ng-class="{'active': $location.url()=='/login'}"><a href="#/login">log in</a></li>
                <li><a ng-show="user" ng-click="logout()">logout</a></li>
                <li ng-show="user" ng-class="{'active': $location.url()=='/profile'}"><a href="#/profile">profile</a></li>
            </ul>
            <select  class="selectnav" id="selectnav1">
                <option value="">-Navigation-</option>
                <option href="#/group" ng-class="{'active': $location.url()=='/group'}" value="#/home" selected="">Home</option><option value="#/group">Group</option>
                <option  ng-show="!user" ng-class="{'active': $location.url()=='/signup'}" value="#/signup">SignUp</option>
                <option ng-show="!user" ng-class="{'active': $location.url()=='/login'}" value="#/login">LogIn</option>
                <option ng-show="user" ng-click="logout()" value="no">LogOut</option>
                <option ng-show="user" ng-class="{'active': $location.url()=='/profile'}" value="#/profile">Profile</option>
            </select>


    </div>



    <!--<div class="header_bottom_area"></div>-->

    <!--</div>-->
</div>

</div>
